/********************/
/*** SCSS PARTIALS ***/
/********************/
@font-face {
  font-family: ProximaRegular;
  src: url(../fonts/ProximaNova-Reg.otf) format("opentype");
}

@font-face {
  font-family: ProximaBold;
  src: url(../fonts/ProximaNova-Bold.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: ProximaThin;
  src: url(../fonts/ProximaNova-Thin.otf) format("opentype");
}

@font-face {
  font-family: ProximaLight;
  src: url(../fonts/Proxima-Nova-Light.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: ProximaItalic;
  src: url(../fonts/Proxima-Nova-Regular-Italic.otf) format("opentype");
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'ProximaBold', sans-serif;
}

p,
li,
a {
  font-family: 'ProximaRegular', serif;
}

p {
  line-height: 30px;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-32 {
  font-size: 32px;
}

.font-34 {
  font-size: 34px;
}

.font-115 {
  font-size: 115px !important;
}

.weight-700 {
  font-weight: 700;
}

.weight-600 {
  font-weight: 600;
}

.text-underline {
  text-decoration: underline;
}

button,
.button {
  padding: 0.37rem 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

button.padding-lg,
.button.padding-lg {
  padding: 0.5rem 2rem;
}

button.padding-sm,
.button.padding-sm {
  padding: 0.3rem 1rem;
}

button.rounded,
.button.rounded {
  border-radius: 20px !important;
}

button.rounded-sm,
.button.rounded-sm {
  border-radius: 5px !important;
}

input[type='text'],
input[type='email'],
textarea {
  height: calc(3em + 0.8rem + 1px) !important;
  padding: 1.5rem 1.2rem !important;
  outline: none;
  outline-width: 0;
}

input[type='text']:focus, input[type='text']:active,
input[type='email']:focus,
input[type='email']:active,
textarea:focus,
textarea:active {
  outline: none;
  outline-width: 0;
}

input[type='text'].border-none,
input[type='email'].border-none,
textarea.border-none {
  border: none;
}

@media screen and (max-width: 767.98px) {
  input[type='text'],
  input[type='email'],
  textarea {
    font-size: 16px !important;
  }
}

.bg-app-primary {
  background: #24133b;
}

.bg-off-white {
  background: #f1f5f8;
}

.bg-app-light {
  background: #fff;
}

.bg-app-secondary {
  background: #59d8d0;
}

.bg-app-tertiary {
  background: #fa6e3d;
}

.bg-red {
  background: #f56198;
}

.bg-black {
  background: #000000;
}

.text-grey {
  color: #e2eaf3a6;
}

.text-grey-100 {
  color: #ddd;
}

.text-app-black {
  color: #000000 !important;
}

.text-app-blue {
  color: #007bfff5 !important;
}

.text-app-dark {
  color: #515151 !important;
}

.text-app-secondary {
  color: #59d8d0;
}

.border-app-secondary {
  border: 1px solid #59d8d0;
}

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/fonts-icomoon.eot");
  src: url("/fonts/fonts-icomoon.eot#iefix") format("embedded-opentype"), url("/fonts/fonts-icomoon.ttf") format("truetype"), url("/fonts/fonts-icomoon.woff") format("woff"), url("/fonts/fonts-icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/fonts/glyphicons-halflings-regular.eot");
  src: url("/fonts/glyphicons-halflings-regular.eot#iefix") format("embedded-opentype"), url("/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/fonts/glyphicons-halflings-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: '\f10b';
}

.icon-flask:before {
  content: '\e9AA';
}

.icon-settings:before {
  content: '\f085';
}

.icon-facebook:before {
  content: '\f09a';
}

.icon-twitter:before {
  content: '\f099';
}

.icon-linkedin:before {
  content: '\f0e1';
}

.icon-dribble:before {
  content: '\f17d';
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cursor {
  cursor: pointer;
}

nav {
  padding: 0 10%;
}

@media screen and (max-width: 575.98px) {
  nav {
    padding: 0 7%;
  }
}

nav.first-nav {
  height: 3.5rem;
}

nav li {
  width: 33.3%;
  list-style: none;
  padding: 1rem 0;
  text-align: center;
}

nav li:not(:last-child) {
  border-right: 1px solid #f1f5f8;
}

@media screen and (max-width: 575.98px) {
  nav li:nth-child(2) {
    width: 40%;
  }
}

@media screen and (max-width: 767.98px) {
  nav li:first-child, nav li:last-child {
    width: 30%;
    text-align: left;
  }
}

@media screen and (max-width: 767.98px) {
  nav li:last-child {
    text-align: right;
  }
}

nav li a {
  font-family: 'ProximaBold', sans-serif !important;
}

@media screen and (max-width: 767.98px) {
  nav li span {
    display: none;
  }
}

.banner {
  min-height: 89vh;
  background: #24133b;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

.banner h6 {
  position: absolute;
  left: 9%;
  right: 9%;
  top: 5vh;
  z-index: 1;
  font-size: 110px;
}

@media screen and (max-width: 1023.98px) {
  .banner h6 {
    font-size: 86px;
  }
}

@media screen and (max-width: 575.98px) {
  .banner h6 {
    font-size: 75px;
  }
}

.banner img {
  position: absolute;
}

.banner img:nth-of-type(1) {
  width: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10%;
}

@media screen and (max-width: 1023.98px) {
  .banner img:nth-of-type(1) {
    width: 78%;
  }
}

.banner img:nth-of-type(2), .banner img:nth-of-type(3) {
  right: 0;
  bottom: 0;
}

.banner img:nth-of-type(2) {
  height: 70%;
}

@media screen and (max-width: 1023.98px) {
  .banner img:nth-of-type(2) {
    height: 41%;
    right: -32%;
  }
}

.banner img:nth-of-type(3), .banner img:nth-of-type(4) {
  height: 90%;
}

@media screen and (max-width: 1023.98px) {
  .banner img:nth-of-type(3), .banner img:nth-of-type(4) {
    display: none;
  }
}

.banner img:nth-of-type(4) {
  right: 0;
  top: 0;
}

.banner img:nth-of-type(5), .banner img:nth-of-type(6) {
  left: 0;
  bottom: 0;
}

.banner img:nth-of-type(5) {
  height: 24%;
}

@media screen and (max-width: 1023.98px) {
  .banner img:nth-of-type(5) {
    height: 10%;
    left: -3%;
  }
}

.banner img:nth-of-type(6) {
  height: 55%;
}

@media screen and (max-width: 1023.98px) {
  .banner img:nth-of-type(6) {
    height: 15%;
  }
}

.banner img:nth-of-type(7) {
  right: 18%;
  top: 18%;
}

.banner img:nth-of-type(8) {
  right: 24%;
  bottom: 37%;
}

.banner img:nth-of-type(9) {
  right: 4%;
  bottom: 38%;
}

.banner img:nth-of-type(10) {
  right: 27%;
  bottom: 12%;
}

@media screen and (max-width: 1023.98px) {
  .banner img:nth-of-type(10) {
    bottom: 60%;
    right: 10%;
  }
}

@media screen and (max-width: 767.98px) {
  .banner img:nth-of-type(10) {
    bottom: 50%;
  }
}

.banner img:nth-of-type(11) {
  left: 20%;
  bottom: 46%;
}

@media screen and (max-width: 1023.98px) {
  .banner img:nth-of-type(11) {
    left: 50%;
    bottom: 63%;
  }
}

@media screen and (max-width: 767.98px) {
  .banner img:nth-of-type(11) {
    bottom: 52%;
  }
}

.banner img:nth-of-type(12) {
  left: 4.5%;
  bottom: 22%;
}

@media screen and (max-width: 1023.98px) {
  .banner img:nth-of-type(12) {
    left: 10%;
    bottom: 65%;
  }
}

@media screen and (max-width: 767.98px) {
  .banner img:nth-of-type(12) {
    bottom: 55%;
  }
}

.banner img:nth-of-type(13) {
  left: 22%;
  bottom: 7%;
}

.feature {
  padding: 4rem 10%;
}

@media screen and (max-width: 575.98px) {
  .feature {
    padding: 4rem 0;
  }
}

.feature .feature-inner {
  padding: 3rem 4rem;
}

@media screen and (max-width: 575.98px) {
  .feature .feature-inner {
    padding: 1.5rem 2rem;
  }
}

.feature .bordered-star {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #59d8d0;
}

.feature img {
  max-width: 60%;
  height: auto;
}

.feature li {
  margin-bottom: 1rem;
}

.feature .badge {
  padding: 0.45rem 1rem;
  border-radius: 15px;
}

.feature button {
  border-radius: 5px;
  padding: 0.5rem 2rem;
}

.feature hr {
  border-top: 1px solid #515151;
}

.feature .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1023.98px) {
  .feature .main {
    display: block;
  }
}

.feature .main .debit-card {
  width: 30%;
}

@media screen and (max-width: 1023.98px) {
  .feature .main .debit-card {
    width: 100%;
  }
}

@media screen and (max-width: 1023.98px) {
  .feature .main .debit-card {
    margin-bottom: 1.5rem;
  }
}

.feature .main .info {
  width: 70%;
  padding-left: 3rem;
}

@media screen and (max-width: 1023.98px) {
  .feature .main .info {
    width: 100%;
  }
}

@media screen and (max-width: 1399.98px) {
  .feature .main .info {
    padding-left: 4rem;
  }
}

@media screen and (max-width: 1023.98px) {
  .feature .main .info {
    padding-left: 1.2rem;
  }
}

footer {
  padding: 0 10% 2rem 10%;
}

footer .glyph {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
}
/*# sourceMappingURL=site.css.map */